body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.kategorije-wrapper {
    float: left;
    clear: both;
    margin-left: 130px;
}

.kategorija-container {
    width: 200px;
    max-width: 250px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    float: left;
    margin: 10px;
    
}

.kategorija-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.kategorija-container button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.kategorija-container button:hover {
    background-color: #45a049;
}


.admin-btna {
  text-align: center;
    margin-top: 30px;
}

.admin-btna button {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    font-size: 100%;
    cursor: pointer;
    margin:auto;
}

.brisi-vprasanja {
    background-color: red;
    color: white;
    display: inline-block;
    margin: 10px;
}

.brisi-vprasanja:hover {
    background-color: rgb(225, 7, 7);
}

.dodaj-vprasanja {
    background-color: rgb(61, 206, 223);
    color: white;
    display: inline-block;
    margin: 10px;
}

.dodaj-vprasanja:hover {
    background-color: rgb(52, 175, 189);
}